#carousel_homePage .ant-carousel .slick-dots li button {
  background: #afafaf;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

#carousel_homePage .ant-carousel .slick-dots li.slick-active button {
  background: #fb4226;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
